* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(
    260deg,
    hsl(357deg 38% 54%),
    hsl(357deg 21% 38%)
  );
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
  min-height: 10vh;
  color: white;
}

.logo {
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}

.icon {
  transform: scale(0.7);
}

.showcase {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  padding: 0 15%;
  overflow: hidden;
}

.showcase__image-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  height: 80vh;
  z-index: 1;
}

.showcase__image {
  width: 80%;
}

.showcase__text {
  flex: 1;
  padding-bottom: 10rem;
  color: white;
}

.showcase__title {
  font-size: 2rem;
}

.showcase__subtitle {
  font-size: 1rem;
  padding: 3rem 0;
  font-weight: 400;
}

.showcase__arrow {
  position: absolute;
  bottom: 10%;
  right: 15%;
  transform: scale(0.6);
}

.btn,
.btn:link,
.btn:visited {
  padding: 0.5rem 2rem;
  background-color: #c4c4c4;
  color: black;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
}

.circle {
  position: absolute;
}

.circle--1 {
  left: -3%;
  bottom: -3%;
  transform: scale(2);
}

.circle--2 {
  left: 35%;
  bottom: 10%;
}

.circle--3 {
  left: 20%;
  top: 15%;
  transform: scale(1.5);
}

/* PRODUCT PAGE */
.product {
  position: absolute;
  width: 100vw;
  min-height: 90vh;
  background-color: white;
  z-index: 5;
}

.product__description {
  padding: 5% 15%;
  color: hsl(0deg 0% 29%);
}

.product__heading {
  font-size: 2rem;
}

.product__subheading {
  padding: 1rem 0;
  font-size: 1.2rem;
}

.product__gallery {
  display: grid;
  padding: 0 15%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.card {
  padding: 2rem;
}

.card__img {
  border-radius: 1rem;
  width: 100%;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .showcase {
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 85vh;
    padding: 20%;
  }

  .showcase__text {
    padding-bottom: 0;
  }

  .showcase__title {
    font-size: 1.5rem;
  }

  .showcase__subtitle {
    font-size: 1rem;
    padding: 2rem;
  }

  .showcase__image-container {
    justify-content: center;
    order: 1;
    min-height: 30vh;
  }

  .showcase__arrow {
    bottom: 50%;
    right: 5%;
  }

  .circle--1,
  .circle--2 {
    display: none;
  }

  .circle--3 {
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%) scale(3);
    pointer-events: none;
  }
}

